<!-- novo.ejs -->
<!DOCTYPE html>
<html>
<head>
<title>Novo Paciente</title>
</head>
<body>
<h2>Novo Paciente</h2>
<form method="POST" action="/paciente/novo">
<label>Nome:</label>
<input type="text" name="nome" required>
<br>
<label>sexo:</label>
<input type="text" name="sexo" required>
<br>
<label>Data de Nascimento:</label>
<input type="date" name="nascimento" required>
<br>
<label>Observação:</label>
<textarea name="observacao"></textarea>
<br>
<button type="submit">Salvar</button>
</form>
</body>
</html>